.myButton {
	background-color:#3d94f6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	padding:10px 24px;
	text-decoration:none;
	border: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 2;
	text-align: left;
}
